/************************* :ROOT **************************/

:root {

    /* STRUCTURE */

        --standard-gutter: 5px;

        --body-margin: 0px;
        --body-display: flex;
        --body-flex-flow: row nowrap;

            --nav-tab-width: 50px;
            --nav-tab-border-right: 1px;

            --container-width: calc(100% - (var(--nav-tab-width) + var(--nav-tab-border-right)));

                --row-1-height: 50px;
                --row-1-border-bottom: 1px;

                --row-2-height: 35px;
                --row-2-display: flex;
                --row-2-flex-flow: row nowrap;
                --row-2-justify-content: end;

                    --row-2-div-width: calc(((100% - var(--y-axis-width)) / 2) - var(--row-2-div-border-right));
                    --row-2-div-margin: auto 0;
                    --row-2-div-border-right: var(--standard-gutter);

                --row-3-height: calc(100vh - (var(--row-1-height) + var(--row-1-border-bottom) + var(--row-2-height) + var(--row-4-height) + var(--row-4-border-top)));
                --row-3-display: flex;
                    
                    --y-axis-width: 35px;

                        --y-axis-div-heigth: calc(50% - var(--standard-gutter));
                    
                    --matrix-width: calc(100% - var(--y-axis-width));
                    --matrix-display: flex;
                    --matrix-flex-flow: row wrap;

                        --matrix-div-width: calc(50% - (var(--matrix-div-margin) + var(--matrix-div-border-right)));
                        --matrix-div-height: calc((var(--row-3-height) / 2) - (var(--matrix-div-margin) + var(--matrix-div-border-bottom)));
                        --matrix-div-margin: 0px;
                        --matrix-div-border-right: calc(var(--standard-gutter) * 2);
                        --matrix-div-border-bottom: calc(var(--standard-gutter) * 2);

                --row-4-height: 60px;
                --row-4-border-top: 1px;
                    
                    --taskInput-width: calc(100% - (var(--y-axis-width) + 10px));
                    --taskInput-height: calc(var(--row-4-height) - 5px);

    /* COLORS */
        --color-0: hsl(0, 0%, 0%);
        --color-50: hsl(0, 0%, 50%);
        --color-85: hsl(0, 0%, 85%);
        --color-95: hsl(0, 0%, 95%);
        --color-100: hsl(0, 0%, 100%);
        --color-a-hover: hsl(0, 0%, 15%);
        --color-a-active: hsl(100, 100%, 50%);

    /* FONTS */
        --font-family-standard: monospace, sans-serif;
        --font-size-standard: 14px;

}

/************************** BODY **************************/

body {
    margin: var(--body-margin);
    display: var(--body-display);
    flex-flow: var(--body-flex-flow);
    
    font-family: var(--font-family-standard);
    font-size: var(--font-size-standard);
}

/************************ NAV-TAB *************************/

#nav-tab {
    width: var(--nav-tab-width);
    border-right: var(--nav-tab-border-right) solid var(--color-85);

    background-color: var(--color-95);
}

/************************ CONTAINER ***********************/

#container {
    width: var(--container-width);
}

/************************* ROW-1 **************************/

#row-1 {
    height: var(--row-1-height);
    border-bottom: var(--row-1-border-bottom) solid var(--color-85);

    background-color: var(--color-95);
    text-align: center;
}

/************************* ROW-2 **************************/

#row-2 {
    height: var(--row-2-height);
    display: var(--row-2-display);
    flex-flow: var(--row-2-flex-flow);
    justify-content: var(--row-2-justify-content);

    background-color: var(--color-95);
}

#row-2 > div {
    width: var(--row-2-div-width);
    margin: var(--row-2-div-margin);
    border-right: var(--row-2-div-border-right) solid var(--color-95);

    text-align: center;
}

/************************* ROW-3 **************************/

#row-3 {
    height: var(--row-3-height);
    display: var(--row-3-display);
}

/************************* Y-AXIS *************************/

#y-axis {
    width: var(--y-axis-width);

    background-color: var(--color-95);
}

#y-axis > div {
    height: var(--y-axis-div-heigth);
    
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    margin: auto;
}

/************************* MATRIX *************************/

.matrix {
    width: var(--matrix-width);
    display: var(--matrix-display);
    flex-flow: var(--matrix-flex-flow);

    background-color: var(--color-95);
}

.matrix > div {
    width: var(--matrix-div-width);
    height: var(--matrix-div-height);
    margin: var(--matrix-div-margin);
    border-right: var(--matrix-div-border-right) solid var(--color-95);
    border-bottom: var(--matrix-div-border-bottom) solid var(--color-95);

    background-color: var(--color-100);
    overflow-wrap: anywhere;
    overflow-y: scroll;
}

/*************************** UL ***************************/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*************************** LI ***************************/

li {
    margin: 0px 0px;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    background-color: var(--color-100);
    border-bottom: 1px solid var(--color-85);
}

li:hover > .deleteTask {
    visibility: visible;
}

/*********************** DELETETASK ***********************/

.deleteTask {
    z-index: 1;
    width: 25px;
    height: 25px;
    margin: 0px;
    border: none;
    border-radius: 50%;

    background-color: var(--color-100);
    color: hsl(0, 100%, 65%);
    visibility: hidden;
    cursor: pointer;
}

.deleteTask:hover {
    background-color: hsl(0, 100%, 65%);
    color: var(--color-100);
}

/************************* ROW-4 **************************/

#row-4 {
    height: var(--row-4-height);
    border-top: var(--row-4-border-top) solid var(--color-85);
    display: flex;
    justify-content: center;

    background-color: var(--color-95);
}

/*********************** TASKINPUT ************************/

#taskInput {
    width: calc(100% - (4px + ((var(--standard-gutter) * 2) * 2) + 15px));
    height: calc(var(--row-4-height) - (4px + ((var(--standard-gutter) * 2) * 2)));
    margin: auto 0;

    background-color: var(--color-100);
    outline: 1px solid var(--color-85);
    border: none;
    border-radius: 20px;
    padding-left: 15px;
}

#taskInput:hover {
    box-shadow: 0px 0px 5px var(--color-50);
}

#taskInput:focus {
    outline: 2px solid var(--color-50);
}

/************************ DRAGGING ************************/

.dragging {
    opacity: 0;
}