/************************* :ROOT **************************/

:root {

    /* BOX MODEL:  Height, Width, Padding, Border, Margin */

/**/    --standard-font-size: 14px;
/**/    --standard-font-family: monospace, sans-serif;
/**/    --standard-gutter: 5px;
/**/    --standard-border-radius: 20px;

        --body-margin: 0;

            --nav-tab-height: 100vh;
/**/        --nav-tab-width: calc(var(--navtab-div-button-width) + (var(--navtab-div-button-margin) * 2));
            --nav-tab-border-right: 1px;

                --navtab-div-button-height: var(--navtab-div-button-width);
/**/            --navtab-div-button-width: 40px;
/**/            --navtab-div-button-margin: 5px;

/**/        --container-width: calc(100% - (var(--navtab-div-button-width) + (var(--navtab-div-button-margin) * 2)));

/**/            --timebar-height: 50px;
/**/            --timebar-border-bottom: 1px;

                    --clock-container-width: 50%;

                        --clock-container-div-height: 50%;
                        --clock-container-div-width: 100%;
                        --clock-container-div-border-right: 1px;

/**/            --matrix-x-axis-height: 35px;

/**/                --matrix-x-axis-div-width: calc(((100% - var(--matrix-y-axis-width)) / 2) - var(--matrix-x-axis-div-margin-right));
                    --matrix-x-axis-div-margin: auto 0;
/**/                --matrix-x-axis-div-margin-right: calc(var(--standard-gutter) * 2); 

/**/            --matrix-subcontainer-height: calc(100vh - (var(--timebar-height) + var(--timebar-border-bottom) + var(--matrix-x-axis-height) + var(--inputbar-height) + var(--inputbar-border-top)));

/**/                --matrix-y-axis-width: 35px;

/**/                    --matrix-y-axis-div-height: var(--quadrant-height);
/**/                    --matrix-y-axis-div-padding-top: var(--quadrant-margin-bottom);

/**/                --matrix-width: calc(100% - var(--matrix-y-axis-width));

/**/                    --quadrant-height: calc((var(--matrix-subcontainer-height) / 2) - (var(--quadrant-margin) + var(--quadrant-margin-bottom)));
/**/                    --quadrant-width: calc(50% - (var(--quadrant-margin) + var(--quadrant-margin-right)));
/**/                    --quadrant-margin: 0px;
/**/                    --quadrant-margin-right: calc(var(--standard-gutter) * 2);
/**/                    --quadrant-margin-bottom: calc(var(--standard-gutter) * 2);

                            --quadrant-ul-padding: 0;
                            --quadrant-ul-margin: 0;

/**/                            --taskbox-height: calc(var(--standard-font-size) + 10px + 10px);
                                --taskbox-padding: 0 0;
                                --taskbox-border-bottom: 1px;
                                --taskbox-margin: 0 0;

/**/            --inputbar-height: calc(var(--userInput-height) + (4px + ((var(--standard-gutter) * 2) * 2)));
/**/            --inputbar-border-top: 1px;
                        
/**/                --userInput-width: calc(100% - (4px + ((var(--standard-gutter) * 2) * 2) + var(--userInput-padding-left)));
/**/                --userInput-height: 36px;
/**/                --userInput-padding-left: 15px;
                    --userInput-border: none;
/**/                --userInput-border-radius: var(--standard-border-radius);
                    --userInput-margin: auto 0;

    /* COLORS */

/**/    --color-font: hsl(0, 0%, 0%);
/**/    --color-border: hsl(0, 0%, 85%);
/**/    --color-background-main: hsl(0, 0%, 95%);
/**/    --color-background-list: hsl(0, 0%, 100%);
/**/    --color-userInput-focus: hsl(0, 0%, 50%);

}

/************************** BODY **************************/

body {
    margin: var(--body-margin);

    display: flex;
    flex-flow: row nowrap;

    font-size: var(--standard-font-size);
    font-family: var(--standard-font-family);
    color: var(--color-font);
}

/************************* NAVTAB *************************/

#navtab {
    height: var(--nav-tab-height);
    width: var(--nav-tab-width);
    border-right: var(--nav-tab-border-right) solid var(--color-border);

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    background-color: var(--color-background-main);
}

#navtab div {
    display: flex;
    flex-flow: column nowrap;
}

#navtab div button {
    height: var(--navtab-div-button-height);
    width: var(--navtab-div-button-width);
    margin: var(--navtab-div-button-margin) var(--navtab-div-button-margin) 0;

    font-family: var(--standard-font-family);
    background-color: var(--color-background-main);
    color: var(--color-font);
    border: none;
    border-radius: 5px;
}

#navtab div button:last-child {
    margin-bottom: var(--navtab-div-button-margin);
}

#navtab div button:hover {
    background-color: var(--color-border);
}

/************************ CONTAINER ***********************/

#container {
    width: var(--container-width);
}

/************************ TIMEBAR ************************/

#timebar {
    height: var(--timebar-height);
    border-bottom: var(--timebar-border-bottom) solid var(--color-border);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    background-color: var(--color-background-main);
}

#clock-container {
    width: var(--clock-container-width);

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#clock-container div {
    height: var(--clock-container-div-height);
    width: var(--clock-container-div-width);
    border-right: var(--clock-container-div-border-right) solid var(--color-border);
    
    text-align: center;
    align-content: center;
    font-weight: bold;
}

#clock-container div:last-child {
    border-right: none;
}

/************************ MATRIX *************************/

#matrix-container {}

#matrix-x-axis {
    height: var(--matrix-x-axis-height);

    display: flex;
    flex-flow: row nowrap;
    justify-content: end;

    background-color: var(--color-background-main);
}

#matrix-x-axis div {
    width: var(--matrix-x-axis-div-width);
    margin: var(--matrix-x-axis-div-margin);
    margin-right: var(--matrix-x-axis-div-margin-right);

    text-align: center;
    font-weight: bold;
}

#matrix-subcontainer {
    height: var(--matrix-subcontainer-height);

    display: flex;
}

#matrix-y-axis {
    width: var(--matrix-y-axis-width);

    background-color: var(--color-background-main);
}

#matrix-y-axis div {
    height: var(--matrix-y-axis-div-height);
    padding-top: var(--matrix-y-axis-div-padding-top);
    
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    margin: auto;
    font-weight: bold;
}

#matrix {
    width: var(--matrix-width);

    display: flex;
    flex-flow: row wrap;
    background-color: var(--color-background-main);
}

.quadrant {
    height: var(--quadrant-height);
    width: var(--quadrant-width);
    margin: var(--quadrant-margin);
    margin-right: var(--quadrant-margin-right);
    margin-bottom: var(--quadrant-margin-bottom);

    background-color: var(--color-background-list);
    outline: 1px solid var(--color-border);
    border-radius: 20px;
    overflow-wrap: anywhere;
    overflow-y: scroll;
}

.quadrant ul {
    padding: var(--quadrant-ul-padding);
    margin: var(--quadrant-ul-margin);

    list-style-type: none;
}

/************************** LI ***************************/

.taskbox {
    height: var(--taskbox-height);
    padding: var(--taskbox-padding);
    border-bottom: var(--taskbox-border-bottom) solid var(--color-border);
    margin: var(--taskbox-margin);

    display: flex;
    flex-flow: row nowrap;

    position: relative;
}

.deadline-and-schedule {
    height: calc(14px + 10px + 10px);
    min-width: 100px;
    margin: 0 0;

    overflow: hidden;
    text-align: center;
    align-content: center;
}

.task {
    height: 14px;
    width: 100%;
    margin: 10px 0;
    padding: 0px 30px;

    overflow: hidden;
}

.update {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    height: calc(14px + 10px + 10px);

    visibility: hidden;
    background-color: var(--color-background-list);
    box-shadow: -20px 0px 10px -5px var(--color-background-list);
}

li:hover > .update {
    visibility: visible;
}

.update-buttons {
    z-index: 10;
    width: 22px;
    height: 23px;
    margin-right: 10px;

    border: none;
    outline: 1px solid var(--color-border);
    border-radius: 50%;
    background-color: var(--color-background-list);
    color: var(--color-border);
    font-weight: 900;
    cursor: pointer;
}

.update-buttons:first-child {
    margin-left: 20px;
}

.update-buttons:last-child {
    margin-right: 20px;
}

.update-buttons:hover {
    background-color: var(--color-border);
    color: var(--color-background-list);
}

/************************ INPUTBAR ************************/

#inputbar {
    height: var(--inputbar-height);
    border-top: var(--inputbar-border-top) solid var(--color-border);

    display: flex;
    justify-content: center;

    background-color: var(--color-background-main);
}

#userInput {
    height: var(--userInput-height);
    width: var(--userInput-width);
    padding-left: var(--userInput-padding-left);
    border: var(--userInput-border);
    border-radius: var(--userInput-border-radius);
    margin: var(--userInput-margin);

    outline: 1px solid var(--color-border);
    background-color: var(--color-background-list);
    color: var(--color-font);
}

#userInput:hover {
    box-shadow: 0px 0px 5px var(--color-userInput-focus);
}

#userInput:focus {
    outline: 2px solid var(--color-userInput-focus);
}