/****************************************/

/* 
 1 = 0.0625
 2 = 0.125
 4 = 0.25
 6 = 0.375
 8 = 0.5
10 = 0.625
12 = 0.75
14 = 0.875
16 = 1
*/

:root {
 
    /* Common */
        --common-font-size: 0.875rem;
        --common-border-width: 1px;
        --common-margin: 0.5rem;

    /* Color Palette */
        /*  */
            --color-primary:         hsl(  0,   0%,   0%);
            --color-secondary:       hsl(  0,   0%,   5%);
            --color-tertiary:        hsl(  0,   0%,  10%);
            --color-quaternary:      hsl(  0,   0%,  15%);
            --color-border:          hsl(  0,   0%,  25%);
        /* Font */
            --color-font-highlight:  hsl(  0,   0%, 100%);
            --color-font-base:       hsl(  0,   0%,  80%);
            --color-font-tonedown:   hsl(  0,   0%,  60%);
        /*  */
            --color-danger:          hsl(  0, 100%,  25%);
            --color-warning:         hsl( 60, 100%,  25%);
            --color-success:         hsl(120, 100%,  25%);
            --color-info:            hsl(180, 100%,  25%);

    /* Components */

        /* Nav */
            --nav-height: calc(var(--nav-button-height-and-width) + (2 * var(--nav-button-margin-top-and-bottom)));

            /* Nav-Button */
                --nav-button-height-and-width: 3rem;
                --nav-button-margin-top-and-bottom: 0.5rem;

        /* Main */

            /* InputBar */
                --inputbar-height: calc(var(--textInput-height) + (var(--common-margin) * 2));
                --textInput-height: 3rem; /* Same as nav button's height */
}

/**************** GLOBAL ****************/

/* template {
    postion: ;
    top: 0;
    left: 0;
    overflow: hidden;

    margin: ;
    border: ;
    height: ;
    width: ;
    padding: ;

    display: ;
    flex-flow: row nowrap;
    justify-content: space-between;

    background-color: ;
    color: ;
    text-align: center;
    align-content: center;
    outline: ;
    border-radius: ;
} */

* {
    overflow: hidden;

    margin: 0;
    padding: 0;

    font-family: monospace;
    font-size: var(--common-font-size);
}

body {
    overflow: hidden;

    height: 100vh;
    width: 100vw;

    background-color: var(--color-primary);
}

/****************** NAV *****************/

nav {
    height: var(--nav-height);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    outline: 1px solid var(--color-border);
}

.nav-button {
    margin: var(--nav-button-margin-top-and-bottom) 0;
    border: none;
    height: var(--nav-button-height-and-width);
    width: var(--nav-button-height-and-width);

    background-color: var(--color-primary);
    color: var(--color-font-base);
    border-radius: 25%;
}

.nav-button:hover:not(.selected_button) {
    background-color: var(--color-secondary);
}

/***************** MAIN *****************/

main {
    height: calc(100vh - var(--nav-height));
    padding: var(--common-margin);
}

.view {
    padding: var(--common-margin);
    height: calc(100% - (var(--inputbar-height) + (var(--common-margin) * 4)));

    /* outline: 1px solid white; */
}

/*************** VIEW-MAIN **************/

#view-matrix {
    /* display: none; */
    display: grid;
    gap: var(--common-margin);
    grid-template-columns: calc(50% - (var(--common-margin) / 2)) calc(50% - (var(--common-margin) / 2));
    grid-template-rows: calc(50% - (var(--common-margin) / 2)) calc(50% - (var(--common-margin) / 2));

}

/*************** VIEW-LIST **************/

#view-list {
    display: none;
}

/***************** TASKS ****************/

.ul-tasks {
    height: 100%;

    background-color: var(--color-secondary);
    outline: 1px solid var(--color-border);
}

.task-container {
    display: flex;
    flex-flow: row nowrap;

    background-color: var(--color-secondary);
    color: var(--color-font-base);
    outline: 1px solid red;
}

.task-container > input {
    outline: 1px solid green;
}

.task-info {
    display: flex;
    flex-flow: column nowrap;
}

.task-details {
    display: flex;
    flex-flow: row nowrap;
}

/*************** INPUTBAR ***************/

#inputbar {
    height: var(--inputbar-height);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    /* outline: 1px solid white; */
}

.textInput {
    border: none;
    margin: var(--common-margin);
    height: (var(--textInput-height));
    padding: calc((var(--textInput-height) - var(--common-font-size)) / 2) 1rem;

    background-color: var(--color-secondary);
    color: var(--color-font-base);
    border-radius: calc(var(--textInput-height) / 2);
}

.textInput:focus {
    background-color: var(--color-tertiary);
    outline: 2px solid var(--color-info);
    /* outline: none; */
}

#input-task {
    width: 100%;
}

/****************************************/

@media (min-width: 40em) {

    :root {

        /* Common */
            --common-margin: 1rem;

    }

}

@media (min-width: 60em) {

    :root {

        /* Nav */
            --nav-width: calc(var(--nav-button-height-and-width) + (2 * var(--nav-button-margin-left-and-right)));

            /* Nav Button */
                --nav-button-margin-left-and-right: 0.5rem;
    }

    body {
        display: flex;
        flex-flow: row nowrap;
    }

    /* Nav */

    nav {
        height: 100vh;
        width: var(--nav-width);

        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
    }

    .nav-button {
        margin: var(--nav-button-margin-top-and-bottom) var(--nav-button-margin-left-and-right);
    }

    /* Main */

    main {
        height: 100vh;
        width: calc(100vw - var(--nav-width));
    }

    .task-info {
        display: flex;
        flex-flow: row nowrap;
    }

}